{% extends "base.html" %}

{% block header %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/user.css') }}">
{% endblock %}

{% block content %}
    <section class="container">
        <div class="box">
            <h2 class="title">Attention!</h2>
            <p>Are you sure you want to delete your account? It will be permanent and all your data will be lost!</p>
            <form action="{{ url_for('user.delete') }}" method="post">
                <label class="label-inline" for="confirmation">I want my account deleted</label>
                <input type="checkbox" name="confirmation" id="confirmation" value="true"><br/>
                <button type="submit" class="button-primary">I confirm</button>
            </form>
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                        <blockquote><p>{{ message }}</p></blockquote>
                    {% endfor %}
                {% endif %}
            {% endwith %}
        </div>
    </section>
{% endblock %}


