{% extends "base.html" %}

{% block header %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/user.css') }}">
{% endblock %}

{% block content %}
    <section class="container">
        <form action="{{ request.path }}" method="post">
            <label for="current">Current password</label>
            <input id="current" type="password" placeholder="Insert here your current password" name="current">
            <label for="new">New password</label>
            <input id="new" type="password" placeholder="Insert here your new password" name="new">
            <label for="new_confirm">Confirm password</label>
            <input id="new_confirm" type="password" placeholder="Insert here your current password" name="new_confirm">
            <button type="submit">Change password</button>
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                        <blockquote><p>{{ message }}</p></blockquote>
                    {% endfor %}
                {% endif %}
            {% endwith %}
        </form>
    </section>
{% endblock %}