{% extends "base.html" %}

{% block header %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/user.css') }}">
{% endblock %}

{% block content %}
    <section class="container" id="user_details">
        <form action="{{ url_for('user.update') }}" method="post" id='user_details'>
            <h3 style="display: inline-block">Details</h3>
            <div class="float-right">
                <button type="submit" class="button-primary" hidden>Confirm</button>
                <button type="button" id="undo" onclick="undo_update()" class="button-outline" hidden>Undo</button>
                <button type="button" id="update" onclick="enable_update()">Update</button>
            </div>
            <label for="username">Username</label>
            <input type="text" value="{{ current_user.username }}" name="username" id="username" disabled>
            <label for="email">Email Address</label>
            <input type="email" value="{{ current_user.email }}" name="email" id="email" disabled>
            <label for="fullname">Full Name</label>
            <input type="text" value="{{ current_user.full_name }}" name="fullname" id="fullname" disabled>
            <script>
                function enable_update() {
                    $('#user_details input').prop('disabled', false)
                    $('#user_details button:submit').prop('hidden', false)
                    $('#user_details button#undo').prop('hidden', false)
                    $('#user_details button#update').prop('hidden', true)
                }

                function undo_update() {
                    $('#user_details input').prop('disabled', true)
                    $('#user_details button:submit').prop('hidden', true)
                    $('#user_details button#undo').prop('hidden', true)
                    $('#user_details button#update').prop('hidden', false)

                    $('#user_details input#username').prop('value', "{{ current_user.username }}")
                    $('#user_details input#email').prop('value', "{{ current_user.email }}")
                    $('#user_details input#fullname').prop('value', "{{ current_user.fullname or '' }}")
                }
            </script>
        </form>
    </section>
    <section class="container" style="padding-top: 0">
        <h3 style="display: inline-block">Authentication</h3>
        <div class="float-right">
            <a class="button" href="{{ url_for('user.update_password') }}">Change password</a>
        </div>
    </section>
    <section class="container" style="padding-top: 0">
        <h3 style="display: inline-block">Delete Account</h3>
        <div class="float-right">
            <a class="button button-alert" href="{{ url_for('user.delete') }}">Delete user</a>
        </div>
    </section>

{% endblock %}