{% macro option_edit(starting_value) %}
    <div style="display: flex">
        <input type="text" name="choices" value="{{ starting_value }}">
        <button class="button-clear" type="button" title="Remove choice."
                onclick="let el = $(this.parentElement); el.fadeOut(200, () => el.remove())">
            <i class="gg-close" style="display: inline-block; vertical-align: middle"></i>
        </button>
    </div>
{% endmacro %}

<label>Choices:</label>
{% for choice in q.question_content['choices'] %}
    {{ option_edit(choice) }}
{% endfor %}
<button class="button-outline clearfix" type="button" onclick="add_option(this)">Add Choice</button>
<script>
    if (typeof add_option === 'undefined') function add_option(el) {
        $({{ option_edit('') | tojson }})
            // insert block
            .hide().insertBefore($(el)).fadeIn(200)
            // focus block
            .find('input').focus();
    }
</script>
