{% extends "base.html" %}
{% block content %}
    <section class="container" id="login">
        <h3 class="title">Login</h3>
        <form method="post">
            <fieldset class="column-center">
                <label for="email">Email</label>
                <input id="email" name="email" type="email" value="{{ email }}" required class="validate">
                <label for="password">Password</label>
                <input id="password" name="password" type="password" class="validate">
            </fieldset>
            <input class="button-primary" type="submit" value="Log In">
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                        <blockquote><p>{{ message }}</p></blockquote>
                    {% endfor %}
                {% endif %}
            {% endwith %}
        </form>
    </section>
{% endblock %}