{% extends "base.html" %}
{% block content %}
    <section class="container" id="register">
        <h3 class="title">Register</h3>
        <form method="post">
            <fieldset class="column-center">
                <label for="email">Email</label>
                <input id="email" name="email" type="email" value="{{ email }}" required>
                <label for="password">Password</label>
                <input id="password" name="password" type="password" required>
                <label for="username">Username</label>
                <input id="username" name="username" type="text" value="{{ username }}" required>
                <label for="full_name">Full Name</label>
                <input id="full_name" name="full_name" type="text" value="{{ full_name }}">
                <input class="button-primary" type="submit" value="Register">
            </fieldset>
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                        <blockquote><p>{{ message }}</p></blockquote>
                    {% endfor %}
                {% endif %}
            {% endwith %}
        </form>
    </section>
{% endblock %}