input.inline[type="text"] {
    width: min-content;
    border-color: transparent;
}

.inline {
    display: inline-block;
    margin: 0;
}

.box {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);

    background: white;
    border-radius: 5px;
    margin: 20px;
    padding: 10px 30px;
    overflow: auto;
}

.box-outlined {
    box-shadow: none;
    border: 1px dashed lightgrey;
}

.centered {
    text-align: center;
}

.add-button {
    color: lightgrey;
}

.box:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.clickable {
    cursor: pointer;
}

.no-margin {
    margin: 0;
}

body {
    background: white;
}

.title {
    text-align: center;
}

.flex-column {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.flex-column .button {
    margin: 0;
}


.switch {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 20px;
    margin: 0;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: lightgrey;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 12px;
    width: 12px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #9b4dca;
}

input:focus + .slider {
    box-shadow: 0 0 1px #9b4dca;
}

input:checked + .slider:before {
    -webkit-transform: translateX(12px);
    -ms-transform: translateX(12px);
    transform: translateX(12px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.tab {
    overflow: hidden;
    border-bottom: 1px solid lightgrey;
    text-align: center;
    padding: 10px;
}

.tabContent {
    margin-top: 30px;
    display: none;
    animation: fadeEffect 0.5s;
}

.line-separator {
    border-bottom: 1px solid lightgray;
    margin-bottom: 1rem;
}

textarea {
    resize: vertical;
}