svg {
    font: 13px sans-serif;
    shape-rendering: crispEdges;

}

#sub {
    animation: fadeEffect 0.5s;
}

#frequency_table {
     animation: fadeEffect 0.5s;
}

.axis path,
.axis line {
    fill: none;
    stroke: #000;
}

.y .tick line {
    stroke: #ddd;
}

td:nth-child(2){
    font-size: large;
}



@keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}

select {
    text-align-last: center;
}

#count {
    margin: 10px;
}

#type {
    display: none;
}
