<li class="navigation-item">
    <a class="navigation-link" href="{{ url_for('user.submissions') }}">Submissions</a>
</li>
<li class="navigation-item">
    <a class="navigation-link" href="{{ url_for('user.user_home') }}">Profile</a>
</li>