<nav class="navigation">
    <section class="container">
        <a class="navigation-title" href="{{ url_for('homepage.page') }}">NULLforms</a>
        <ul class="navigation-list float-right">
            {% if current_user.is_authenticated %}
                {% include "navbar/authenticated.html" %}
                <li class="navigation-item">
                    <form method="post" action="{{ url_for('user.logout', next=request.path) }}">
                        <a href="javascript:{}" class="navigation-link"
                           onclick="this.closest('form').submit();return false;">Logout</a>
                    </form>
                </li>
            {% else %}
                <li class="navigation-item">
                    <a class="navigation-link"
                       href="{{ url_for('user.login', next=request.args.get('next') or request.path) }}">Login</a>
                </li>
                <li class="navigation-item">
                    <a class="navigation-link"
                       href="{{ url_for('user.register', next=request.args.get('next') or request.path) }}">Register</a>
                </li>
            {% endif %}
        </ul>
    </section>
</nav>