<p>{{ q.question_content['text'] }}</p>
{% for choice in q.question_content['choices'] %}
    <input type="radio" id="answer_{{ choice }}" name="answer_{{ q.id }}" value="{{ choice }}">
    <label for="answer_{{ choice }}" class="label-inline">{{ choice }}</label>
{% endfor %}
