{% extends "base.html" %}
{% block content %}

    <script src="{{ url_for('static', filename='js/surveys/surveys.js') }}"></script>

    <section class="container">
        <div class="wrapper" style="text-align: center">
            <form method="post" action="{{ request.path }}submit">
                <h1>{{ survey.title }}</h1>
                {% for q in survey.questions_in_order %}
                    <div class="box {{ q.question_type }}" id="{{ q.id }}"
                            {% if q.depended_on_by_json %}
                         onchange='update_dependency(this,{{ q.depended_on_by_json | tojson }})'
                            {% endif %}>
                        {% include q.submission_path with context %}
                    </div>
                {% endfor %}
                <input type="submit" value="Submit">
            </form>
        </div>
    </section>
    <script>
        $(document).ready(() => {
            let dependant_questions = {{ dependant_questions|tojson }};
            // noinspection JSUnusedAssignment
            let question_divs = dependant_questions.map(a => a.map(x => x.id)).flat().sort()
            question_divs.forEach(id => {
                let parent = document.getElementById(`${id}`)
                let qs = parent.childNodes
                qs.forEach(q => q.disabled = true)
                parent.style.display = 'none'
            })
        })
    </script>
{% endblock %}

