{% extends "base.html" %}
{% block content %}
    <section class="container">
        <h3 class="title">{{ survey.title }}</h3>
    </section>
    <section style="margin-left: 3%; margin-right: 3%">
        <table>
            <thead>
            <th>id</th>
            {% if not survey.anonymous %}
                <th>submitter</th>
            {% endif %}
            {% for q in survey.questions_in_order %}
                <th>{{ q.short_name }}</th>
            {% endfor %}
            <th></th>
            </thead>
            <tbody>
            {% for s in survey.submissions %}
                <tr>
                    <td>{{ s.id }}</td>
                    {% if not survey.anonymous %}
                        <td>{{ s.user.username }}</td>
                    {% endif %}
                    {% for q in survey.questions_in_order %}
                        <td>{{ survey.answer_contents_map.get((s.id,q.id), '') }}</td>
                    {% endfor %}
                    <td>
                        <a href="{{ url_for('surveys.view_submission', survey_id=survey.id, submission_id=s.id) }}">View</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </section>
{% endblock %}