{% extends "base.html" %}
{% block content %}
    <section class="container">
        {% if request.method == 'POST' %}
            <h3 class="title">Submission Failed</h3>
        {% else %}
            <h3 class="title">Failed to access survey</h3>
        {% endif %}
        <p>
            {{ reason }}
        </p>
    </section>
{% endblock %}