{% extends "base.html" %}
{% block content %}
    <section class="container">
        <h3 class="title">Submission Successful</h3>
        <p>Thank you for responding to <strong>{{ survey.title }}.</strong></p>
        {% if not survey.unique_responses %}
            <p>To submit another answer <a href="{{ url_for('surveys.respond', survey_id=survey.id) }}">click here</a>.
            </p>
        {% endif %}
        {% if survey.public_results %}
            <p>To view results <a href="{{ url_for('surveys.response_table', survey_id=survey.id) }}">click here</a>.
            </p>
        {% endif %}
    </section>
{% endblock %}