{% extends "base.html" %}
{% block content %}
    <section class="container">
        <div class="wrapper" style="text-align: center">
            <h2 class="title">{{ submission.survey.title }}</h2>
            {% for q in submission.survey.questions_in_order %}
                <div class="box">
                    {% include q.result_path with context %}
                </div>
            {% endfor %}
        </div>
    </section>
{% endblock %}

