<p>{{ q.question_content['text'] }}</p>
{% for choice in q.question_content['choices'] %}
    {% if q.id in map.keys() and choice in map[q.id].content %}
        <input type="checkbox" id="answer_{{ choice }}" name="answer_{{ q.id }}" value="{{ choice }}" checked disabled>
    {% else %}
        <input type="checkbox" id="answer_{{ choice }}" name="answer_{{ q.id }}" value="{{ choice }}" disabled>
    {% endif %}
    <label for="answer_{{ choice }}" class="label-inline">{{ choice }}</label>
{% endfor %}
