
<h3>Question</h3>

<label class="label-inline" for="text_{{ n }}">Text</label>
<textarea name="text_{{ n }}" id="text_{{ n }}"></textarea>
<label class="label-inline" for="schema_{{ n }}">Schema type:</label>
<select name="schema_{{ n }}" id="schema_{{ n }}">
        {% for schema in schemas %}
            <option value="{{ schema }}">{{ schema.replace('_', ' ') }}</option>
        {% endfor %}
</select>
<button class="possibility" type="button" id="add_possibility_{{ n }}" onclick="addPossibility(this.id)">Add possibility</button>
<div id="possibilities_{{ n }}"></div>
<button class="remove" type="button" id="remove_question{{ n }}" onclick="removeQuestion(this.id)">Remove Question</button>


