
<h3>Question</h3>
<label class="label-inline" for="text_{{ n }}">Question text</label>
<textarea name="text_{{ n }}" id="text_{{ n }}">{{ questions[n]["text"] }}</textarea>
<label class="label-inline" for="schema_{{ n }}">Question schema</label>
<select name="schema_{{ n }}" id="schema_{{ n }}">
        {% for schema in schemas %}
            {% if schema != questions[n]["schema"] %}
                <option value="{{ schema }}">{{ schema.replace('_', ' ') }}</option>
            {% else %}
                <option value="{{ schema }}" selected>{{ schema.replace('_', ' ') }}</option>
            {% endif %}
        {% endfor %}
</select>
{% if questions[n]["choices"] is not none %}
    {% for choice in questions[n]["choices"] %}
        <input type="text" name = "choice[]_{{ questions[n]["question_order"] }}" value="{{ choice }}">
    {% endfor %}
{% endif %}
<div id="possibilities_{{ n }}"></div>
<button class="possibility" type="button" id="add_possibility_{{ n }}" onclick="addPossibility(this.id)">Add possibility</button>
<button class="remove" type="button" id="remove_question{{ n }}" onclick="removeQuestion(this.id)">Remove Question</button>


