{% macro question_block(q) %}
    <div class="box question_box" question_id="{{ q.id }}">
        <form method="post" class="no-margin"
              action="{{ url_for('surveys.edit_q', survey_id=q.survey_id, question_id=q.id) }}">
            <div style="display: flex; justify-content: space-between;">
                <div style="align-self: center;">
                    <p class="inline" style="display: inline-block">{{ q.pretty_typename }}: </p>
                    <input type="text" name="q_name" placeholder="q_{{ q.id }}" value="{{ q.custom_name }}"
                           maxlength="24" size="24"
                           title="Question name to be used when exporting or viewing results." class="inline"
                           onchange="update_dependency_selector_labels(this)">
                </div>
                <button class="button-outline" type="button" title="Delete question." style="margin: 1rem"
                        onclick="fetch_delete('{{ url_for('surveys.delete_q', survey_id=q.survey_id, question_id=q.id) }}',
                                () =>{
                                let b = $(this.closest('div.question_box'));
                                update_dependency_on_remove(b.attr('question_id'));
                                b.fadeOut(()=>b.remove()); },
                                alert)">
                    <i class="gg-trash" style="display: inline-block; vertical-align: sub"></i>
                </button>
            </div>
            <div class="line-separator"></div>
            <div>
                <label>
                    <input type="checkbox" name="is_dependent"
                            {% if q.dependency_question_id %} checked
                           default_qid="{{ q.dependency_question_id }}"
                           default_condition="{{ q.dependency_answer_condition }}"{% endif %}
                           onchange="show_question_list(this)"
                           style="margin: 0">
                    Dependency:
                </label>
                <select class="dependency_list" hidden disabled name="dependency"
                        onfocus="generate_question_list(this)"></select>
                <input type="text" class="dependency_condition" hidden disabled name="dependency_condition"
                       placeholder="Any answer">
            </div>
            <div class="line-separator"></div>
            <div>
                {% include q.edit_path with context %}
            </div>
        </form>
    </div>
{% endmacro %}

{% if q %}
    {{ question_block(q) }}
{% endif %}