<script src="{{ url_for('static', filename='js/surveys/contributors.js') }}"></script>
<link href='https://css.gg/play-list-remove.css' rel='stylesheet'>
<section class="container">
    <h2 class="title">Contributors</h2>
    <table style="text-align: center" id="contributors">
        <thead>
        <tr>
            <th>name</th>
            <th>email</th>
            {% if survey.creator_id == current_user.id %}
                <th></th>
            {% endif %}
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>{{ survey.creator.username }}</td>
            <td>{{ survey.creator.email }}</td>
            {% if survey.creator_id == current_user.id %}
                <td></td>
            {% endif %}
        </tr>
        {% for contributor in survey.contributors %}
            <tr>
                <td>{{ contributor.username }}</td>
                <td>{{ contributor.email }}</td>
                {% if survey.creator_id == current_user.id %}
                    {% if contributor.id != survey.creator_id %}
                        <td onclick="remove_contributor('{{ url_for('surveys.remove_contributor',
                            contributor_id=contributor.id, survey_id=survey.id) }}', this.closest('tr'))">
                            <i class="gg-play-list-remove clickable" style="color: #9b4dca"></i>
                        </td>
                    {% else %}
                        <td></td>
                    {% endif %}
                {% endif %}

            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% if current_user.id == survey.creator_id %}
        <div style="margin: 20px auto; text-align: center">
            <label for="contributor">New contributor</label>
            <input type="text" name="contributor_email"
                   placeholder="Insert the contributor's email"
                   id="contributor">
            <button type="button" class="button" onclick="add_contributor({{ survey.id }})">Add contributor</button>
        </div>
    {% endif %}
</section>