<div>
    <p>This is the link:
        <a href="{{ url_for('surveys.respond', survey_id=survey.id, _external=True) }}">
            {{ url_for('surveys.respond', survey_id=survey.id, _external=True) }}</a>
    </p>
</div>

<div class="line-separator"></div>

{% include "surveys/edit/contributors.html" with context %}

<div class="line-separator"></div>

<div style="display: flex; justify-content: space-evenly">
    <a class="button button-outline" type="button"
       href="{{ url_for('surveys.response_table', survey_id=survey.id) }}">View Submissions</a>
    <a class="button button-outline" type="button"
       href="{{ url_for('surveys.show_stats', survey_id=survey.id) }}">Statistics</a>
    <a class="button button-outline" type="button"
       href="{{ url_for('surveys.download', survey_id=survey.id) }}">Download (.csv)</a>
    {% if survey.creator_id == current_user.id %}
        <input type="button" value="Delete survey"
               onclick="fetch_delete('{{ url_for('surveys.delete', survey_id=survey.id) }}',
                       () => { window.location.href = '{{ url_for('homepage.page') }}'; alert('The survey has been deleted') },
                       () => { alert('Something went wrong when deleting this survey. Please contact the administrator'); })"
               style="background-color: red; border: 1px solid red; color: white">
    {% endif %}
</div>
