{% extends "base.html" %}

{% block header %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/questions/creator.css') }}">
    <link href='https://css.gg/trash.css' rel='stylesheet'>
    <link href='https://css.gg/close.css' rel='stylesheet'>
    <script src="{{ url_for('static', filename='js/formAutoSubmit.js') }}"></script>
    <script src="{{ url_for('static', filename='js/surveys/survey_options.js') }}"></script>
{% endblock %}

{% block content %}
    <section class="container">
        <h1 class="title">Edit survey</h1>
        <div class="tab">
            <button id="defaultOpen" class="tabLink button button-clear" onclick="open_tab(this, 'survey_options')">
                Survey
                details
            </button>
            <button class="tabLink button button-clear" onclick="open_tab(this, 'questions_edit')">Questions</button>
            <button class="tabLink button button-clear" onclick="open_tab(this, 'other')">Options</button>
        </div>

        <div id="survey_options" class="tabContent centered">
            {% include 'surveys/edit/survey_data.html' with context %}
        </div>

        <div id="questions_edit" class="tabContent">
            {% include 'surveys/edit/questions.html' with context %}
        </div>

        <div id="other" class="tabContent centered">
            {% include 'surveys/edit/other.html' with context %}
        </div>
    </section>

    <script>open_default_tab()</script>

{% endblock %}