<script src="{{ url_for('static', filename='js/surveys/questions.js') }}"></script>

<section id="question_boxes">
    {% from 'questions/question_block.html' import question_block %}
    {% for q in survey.questions_in_order %}
        {{ question_block(q) }}
    {% endfor %}
</section>

<div class="box box-outlined centered">
    <h4>Add a new Question</h4>

    <div style="display: flex; justify-content: space-evenly">
        {% for s in schemas %}
            <button type="button"
                    onclick="fetch_question_block( '{{ url_for('surveys.add_q', survey_id=survey.id) }}','{{ s.__mapper_args__['polymorphic_identity'] }}')">
                {{ s.pretty_typename }}
            </button>
        {% endfor %}
    </div>
</div>

<script>
    $(".question_box > form").formAutoSubmit();

    // noinspection JSUnusedGlobalSymbols
    $("section#question_boxes").sortable({
        axis: "y",
        cursor: "move",
        revert: 100,
        scroll: true,
        tolerance: "pointer",
        stop: function () {
            fetch_set_order("{{ url_for('surveys.set_order', survey_id=survey.id) }}", $(this).sortable("toArray", {"attribute": "question_id"}))
        },
        start: function () {
            // dragging is happening and scroll jump was prevented, we can set it back to auto
            $(this).height('auto');
        },
    }).mousedown(function () {
        // set fixed height to prevent scroll jump when dragging from bottom
        $(this).height($(this).height());
    }).mouseup(function () {
        // set height back to auto when user just clicked on item
        $(this).height('auto');
    });
</script>