<link rel="stylesheet" href="{{ url_for('static', filename='css/survey_form.css') }}">
<form method="post" action="{{ request.path }}">
    <div class="field_list">
        {% for c in survey_fields %}
            <label class="label-inline"
                   for="{{ survey_fields[c]["id"] }}">{{ survey_fields[c]["label"] }}</label>
            {% if survey_fields[c]["type"] == "boolean" %}
                {% if survey_fields[c]["value"] == True %}
                    <label class="switch">
                        <input type="checkbox" name="{{ survey_fields[c]["name"] }}" class="survey_input"
                               id="{{ survey_fields[c]["name"] }}" checked>
                        <span class="slider round"></span>
                    </label>
                {% else %}
                    <label class="switch">
                        <input type="checkbox" name="{{ survey_fields[c]["name"] }}"
                               id="{{ survey_fields[c]["name"] }}" class="survey_input">
                        <span class="slider round"></span>
                    </label>
                {% endif %}
            {% elif survey_fields[c]["type"] == "string" %}
                <input type="text" name="{{ survey_fields[c]["name"] }}" class="survey_input"
                       id="{{ survey_fields[c]["name"] }}" value="{{ survey_fields[c]["value"] }}" required>
            {% elif survey_fields[c]["type"] == "datetime" %}
                <input type="date" name="{{ survey_fields[c]["name"] }}_date" class="survey_input"
                       id="{{ survey_fields[c]["name"] }}_date" value="{{ survey_fields[c]["value"]["date"] }}"
                       onclick="set_date(this)" onchange="adjust_time(this)">
                <input type="time" name="{{ survey_fields[c]["name"] }}_time" class="survey_input"
                       id="{{ survey_fields[c]["name"] }}_time" value="{{ survey_fields[c]["value"]["time"] }}"
                       onclick="set_time(this)">


            {% endif %}
        {% endfor %}
        <input type="hidden" id="timezone" name="timezone">
    </div>
    <input type="submit" value="Update Survey">
</form>

<script>
    $(document).ready(() => {
        let curr_date = new Date()
        let timezoneOffset = curr_date.getTimezoneOffset()
        $('#timezone').val(timezoneOffset)
        $('input[type="time"]').each(function () {
            let old_h = parseInt(($(this).val()).split(':')[0])
            let h = (24 + old_h - timezoneOffset / 60) % 24;
            let m = (60 + parseInt(($(this).val()).split(':')[1]) - timezoneOffset % 60) % 60;
            this.value = (h < 10 ? '0' + h.toString() : h.toString()) + ":" +
                (m < 10 ? '0' + m.toString() : m.toString())
            let id_date = this.id.substring(0, this.id.length - 4) + "date"
            let date_field = document.getElementById(id_date)
            let date = new Date(date_field.value)
            if (old_h > h && timezoneOffset < 0) {
                let result = new Date(addDays(date, 1))
                date_field.value = result.toISOString().split(/[a-z,A-Z]/)[0]
            }
            if (old_h < h && timezoneOffset > 0) {
                let result = new Date(addDays(date, -1))
                date_field.value = result.toISOString().split(/[a-z,A-Z]/)[0]
            }
        })
    })

    function addDays(date, days) {
        let result = new Date(date)
        result.setDate(result.getDate() + days)
        return result
    }
</script>