<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>NULLforms</title>

    {#  FAVICON  #}
    <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.png') }}">
    {#  CUSTOM STYLESHEET  #}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/base.css') }}"/>
    {#  MILLIGRAM  #}
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic"/>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css"/>
    <link rel="stylesheet" type="text/css"
          href="https://cdnjs.cloudflare.com/ajax/libs/milligram/1.4.1/milligram.min.css"/>
    <link rel="stylesheet" type="text/css" href="https://milligram.io/styles/main.css"/>
    {#  ICONS  #}
    <link href='https://css.gg/add-r.css' rel='stylesheet'>
    <link href='https://css.gg/loadbar.css' rel='stylesheet'>
    {#  LIBRARIES  #}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script type="text/javascript"
            src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
    <script>
        MathJax = {
            tex: {
                inlineMath: [['$', '$'], ['\\(', '\\)']]
            },
            svg: {
                fontCache: 'global'
            }
        };
    </script>
    <script type="text/javascript" id="MathJax-script" async
            src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-svg.js">
    </script>


    <script src="{{ url_for('static', filename='js/main.js') }}"></script>

    {% block header %}
    {% endblock %}
</head>
<body>
<main class="wrapper">
    {% include "navbar/base.html" %}
    {% block content %}
    {% endblock %}
</main>
</body>
</html>