{% extends "base.html" %}
{% block content %}
    <section class="container">
        <h3 class="title">Welcome to NULLforms</h3>
        {% if current_user.is_authenticated %}
            <p>Currently logged in as <strong>{{ current_user.username }}</strong></p>
        {% else %}
            <p>Currently not logged in.</p>
        {% endif %}
    </section>
{% endblock %}