{% extends "base.html" %}

{% block header %}
    <script id="MathJax-script" src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js" async></script>

    {# libraries to generate colors for the graphs #}
    <script src="https://d3js.org/d3.v3.min.js" charset="utf-8"></script>
    <script src="https://d3js.org/d3-color.v1.min.js"></script>
    <script src="https://d3js.org/d3-interpolate.v1.min.js"></script>
    <script src="https://d3js.org/d3-scale-chromatic.v1.min.js"></script>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/stats.css' ) }}">

    <script src="{{ url_for('static', filename='js/stats/chart.js' ) }}"></script>
    <script src="{{ url_for('static', filename='js/stats/bar_chart.js' ) }}"></script>
    <script src="{{ url_for('static', filename='js/stats/pie_chart.js' ) }}"></script>
    <script src="{{ url_for('static', filename='js/stats/frequency_list.js' ) }}"></script>
{% endblock %}

{% block content %}
    <script>
        let data = {{ passed_data|safe }};
        let question_data = {{ question_data|safe }};
    </script>
    <section class="container">
        <div class="tab">
            <button id="defaultOpen" class="tabLink button button-clear" onclick="open_tab(this, 'submissions')">
                Submissions
            </button>
            <button class="tabLink button button-clear" onclick="open_tab(this, 'questions')">Question answers</button>
        </div>

        <div id="submissions" class="tabContent centered">
            <div id="count">
                <h2>{{ submission_number }}</h2>
                submissions
            </div>
            <h2>Number of answers per question</h2>
            <svg width="450px" height="450px" id="main"></svg>
        </div>

        <div id="questions" class="tabContent centered">
            <h2>Answers per single question</h2>
            <select id="selector">
                <option value="Select a question" disabled selected>Select a question</option>
                {% for d in passed_data %}
                    <option value="{{ d.id }}">{{ d.key }}</option>
                {% endfor %}
            </select>

            <select id="type">
                <option disabled selected>Select the graph</option>
            </select>

            <div id="graph_per_question">
                <h2 id="data_question_title" style="text-align: center"></h2>
                <svg width="450px" height="450px" id="sub"></svg>
                <table id="frequency_table">
                    <thead>
                        <tr>
                            <th>Frequency</th>
                            <th>Answer</th>
                        </tr>
                    </thead>
                    <tbody id="table_body"></tbody>
                </table>
            </div>
        </div>

        <script src="{{ url_for('static', filename='js/stats/base.js' )}}"></script>
        <script>open_default_tab()</script>
    </section>
{% endblock %}