{% extends "base.html" %}
{% block content %}
    <section class="container">
        <h3 class="title">Failed to access survey</h3>
        <p>
            {{ reason }}
        </p>
    </section>
{% endblock %}