{% extends "base.html" %}
{% block content %}
    <section class="container">
        <h3 class="title">403 - Forbidden</h3>
        <p>You are not allowed to access this page.</p>
    </section>
{% endblock %}