{% extends "base.html" %}
{% block content %}
    <section class="container">
        <h3 class="title">404 - Not Found</h3>
        <p>The requested page does not exist.</p>
    </section>
{% endblock %}