{% extends "base.html" %}
{% block content %}
    <section class="container">
        <h3 class="title">500 - Internal Server Error</h3>
        <p>Something went wrong... please contact us if it keeps happening.</p>
    </section>
{% endblock %}