{% extends "base.html" %}

{% block header %}
    <script src="https://momentjs.com/downloads/moment.js"></script>
{% endblock %}

{% block content %}
    <section class="container">
        <h3>Submissions</h3>
        <p>Shows all submissions to not anonymous surveys.</p>
        <table>
            <thead>
            <th>Survey</th>
            <th>Time</th>
            <th></th>
            </thead>
            <tbody>
            {% for submission_time,survey_title,submission_id,survey_id in submissions %}
                <tr>
                    <td>{{ survey_title }}</td>
                    <td id="time_ago" title="{{ submission_time }}">{{ submission_time }}</td>
                    <td>
                        <a href="{{ url_for('surveys.view_submission', survey_id=survey_id, submission_id=submission_id) }}">View</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <script type="text/javascript">
            $('td#time_ago').text(function (i, origText) {
                return moment.utc(origText).local().fromNow();
            }).prop("title", function (i, origText) {
                return moment.utc(origText).local();
            });
        </script>
    </section>
{% endblock %}