{% extends "base.html" %}

{% set label_open, label_close = 'Accepting Responses', 'Closed' %}

{% block header %}
    <link href='https://css.gg/software-download.css' rel='stylesheet'>
    <script src="{{ url_for('static', filename='js/surveys/surveys.js') }}"></script>
{% endblock %}

{% block content %}
    <section class="container">
        <h2 class="title">Your surveys</h2>
        <form method="post" action="{{ url_for('homepage.create') }}">
            <div class="box box-outlined clickable centered" onclick="this.closest('form').submit();return false;">
                <i class="gg-add-r add-button" style="display: inline-block"></i>
            </div>
        </form>
        {% for survey in surveys %}
            <div class="box" style="text-align: left">
                <div style="display: inline-block">
                    <h3>{{ survey.title }}</h3>
                    <form action="{{ url_for('surveys.toggle_open', survey_id=survey.id) }}" method="post">
                        <label class="switch">
                            <input type="checkbox" name="open" id="open_toggle" onclick="toggle_open(this)"
                                   {% if survey.is_open %}checked{% endif %}>
                            <span class="slider round"></span>
                        </label>
                        <label class="label-inline" for="open_toggle">
                            {% if survey.is_open %} {{ label_open }} {% else %} {{ label_close }} {% endif %}
                        </label>
                    </form>
                </div>
                <div class="flex-column float-right" style="text-justify: distribute">
                    <a class="button button-clear" type="button"
                       href="{{ url_for('surveys.edit', survey_id=survey.id) }}">Edit</a>
                    <a class="button button-clear" type="button"
                       href="{{ url_for('surveys.show_stats', survey_id=survey.id) }}">Statistics</a>
                    <a class="button button-clear" type="button"
                       href="{{ url_for('surveys.download', survey_id=survey.id) }}">
                        <i class="gg-software-download" style="display: inline-block"></i>
                    </a>
                </div>
            </div>
        {% endfor %}
    </section>
{% endblock %}